
/* app component style */


/*---------------------------------------------- Header Styles-------------------------------------------------*/
nav
{
  min-width: 100vw;
}





/*---------------------------------------------- View Styles-------------------------------------------------*/
.view
{
  flex-grow:8;
}

/*---------------------------------------------- Footer Styles-------------------------------------------------*/
.force-to-bottom {
  width: 100vw;
}