#root {
  min-width: 100vw;
  min-height:100vh;
  margin: 0 auto;
}
/* app component style */
.app
{
  min-height:100vh;
  min-width: 100vw; 
}

/*---------------------------------------------- Header Styles-------------------------------------------------*/
nav
{
  min-width: 100vw;
}





/*---------------------------------------------- View Styles-------------------------------------------------*/
.view
{
  flex-grow:8;
}

/*---------------------------------------------- Footer Styles-------------------------------------------------*/
.force-to-bottom {
  width: 100vw;
}